* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

/* header css start */

header {
    background: rgba(229, 84, 115, 0.10);

}

#head-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.container {
    max-width: 1350px;
    margin: 0 auto;
}

.cover {
    padding-top: 50px;
    display: flex;
    align-items: center;
}

.head-left {
    max-width: 700px;
}

.head-left>h2 {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.head-left>p {
    color: #272727;
    max-width: 635px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 0 30px;
}

button {
    border-radius: 8px;
    padding: 20px 43px;
    background: #E55473;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.head-right>img {
    width: 635px;
    height: 800px;
    margin-left: 20px;
}

/* featured flower css start */

#featured-flowers {
    padding-top: 150px;
}


.featured-title {
    max-width: 594px;
    margin: 0 auto;
    text-align: center;
}

.featured-title>h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.featured-title>p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 24px;
}

.flowers {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}

.featured-flowers {
    margin-left: 20px;
    max-width: 450px;
    max-height: 500px;
    text-align: center;
}

.featured-flowers p {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    padding-top: 32px;
    text-decoration-line: underline;
    cursor: pointer;
}

.featured-flowers .flower-1 {
    padding: 110px 76px 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    text-align: center;
}

.featured-flowers .flower-2 {
    padding: 110px 76px 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}

.featured-flowers .flower-3 {
    padding: 110px 76px 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);

}

/* Hot deal css start */

#hot-deal-section {
    background: rgba(229, 84, 115, 0.10);
}

.hot-deal {
    margin-top: 260px;
    padding: 80px 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hot-deal-left {
    text-align: center;
}

.hot-deal-left h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.hot-deal-left p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 595px;
    padding: 30px 0 30px;
}

/* Customized form css start */

#customized-section {
    background: rgba(229, 84, 115, 0.10);
}

.form-area {}

.form-area h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    max-width: 550px;
}

.form-area p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 595px;
    padding: 30px 0 30px;
}

.form-area form {
    display: block;
}

form fieldset {
    padding: 30px 30px;
    margin-bottom: 20px;
}


form fieldset legend, label {
    color: #111010;
    font-size: 18px;
}



form fieldset input[type=text],
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 16px 0;
    box-sizing: border-box;
}


form fieldset input[type=color]{
    width: 100%;
    padding: 12px 20px;
    margin: 16px 0;
}

form fieldset select{
    width: 100%;
    padding: 12px 20px;
    margin: 16px 0;
    box-sizing: border-box;
}

form fieldset input[type=checkbox]{
    width: 20px;
    height: 20px;
    margin: 16px 10px;
}

form fieldset textarea{
    padding: 12px 20px;
    margin: 16px 0;
    box-sizing: border-box;
}




/* newsletter css start */

main .form {
    margin-top: 100px;
    width: 100%;
    background-image: url('Flower Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    padding: 120px 100px;
}

.newsletter-title {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.newsletter-title>h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.newsletter-title>p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 24px;
}

.form .input-area {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}

.form .input-area input {
    border: none;
    border-radius: 8px;
    background: #FFF;
    padding: 20px 20px;
    margin-right: 20px;
    width: 620px;
}

/* footer css start */

footer {
    background: #111010;
    margin-top: 80px;
    padding: 80px 80px;
}

footer h2 {
    color: white;
    font-size: 48px;
    font-weight: 800;
}

.footer-text>p {
    color: white;
}